@charset "UTF-8";
.pub-header{
    position: relative;
    height: 4.5rem;
    line-height: 4.5rem;
    background-color: #f9fafd;
    z-index: 2;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    border-bottom: 1px solid #e0e0e0;
}
.cart-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 4.5rem;
    bottom: 0;
    overflow: auto;
    font-size: 1.4rem;
}
.cart-content .receive{
    background-color: #fff;
    margin-bottom: 1rem;
}
.addr-table{
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.4rem;
    background: url(../images/border.png) left top repeat-x,url(../images/border.png) left bottom repeat-x;
    background-size: auto .3rem;
}
.addr-table tr th{
    padding: .7rem 1rem .7rem 1.5rem;
    font-weight: 400;
    text-align: left;
    vertical-align: baseline;
}
.addr-table tr td{
    padding: .7rem 0
}
.addr-table tr th span{
    visibility: hidden;
}
.addr-table tr .more{
    background: url(../images/more.png) right center no-repeat ;
    background-size: auto 1rem;
    vertical-align:middle;
}
.cart-groups-wraper{
    line-height: 5rem;
    background: #fff;
    position: relative;
    margin-bottom: 5rem;
    padding-top:.5rem;
}
.cart-group .group-name{
    height: 3rem;
    font-size: 1.2rem;
    padding-left: 1.4rem;
    background: 1.6rem top no-repeat;
    background-size: 2rem;
    line-height: 2rem;
    color: #999;
}
.cart-group .group-name:before{
    content: '';
    display: inline-block;
    width: .4rem;
    height: 1.2rem;
    vertical-align: -.1rem;
    border-radius: .2rem;
    margin-right: .5rem;
    background: #ffd600;
}
.group-addOnBtn{
    position: absolute;
    right: 1.4rem;
    top: .5rem;
    font-size: 1.2rem;
    width: 7rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 1.2rem;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    color: #e64f1a;
    border-color: #ff3800;
}
.group-proptext{
    font-size: 1.1rem;
    line-height: 2rem;
    padding-left: 1.4rem;
    color: #999;
}
.group-receive{
    position: relative;
    padding-left: 1.4rem;
    padding-right: 2.5rem;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 1rem;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-image: url(../images/more.png);
}
.group-receive-text{
    color: #e64f1a;
    line-height:
}
.group-receive-ext{
    float: right;
}
.group-comment{
    padding-left: 1.4rem;
    position: relative;
}
.group-comment-input{
    position: absolute;
    left: 8rem;
    top: 0;
    bottom: 0;
    right: 2.2rem;
}
.group-comment-input input{
    width: 100%;
    height: 3.2rem;
    border: solid 1px #cecece;
    text-indent: .5rem;
    border-radius: .5rem;
    margin-left: .3rem;
    font-size: 100%;
}
.group-footer{
    padding-left: 1.4rem;
}
.selectAll-false{
    display: inline-block;
    min-width: 5rem;
    padding-left: 2.5rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/choose.png);
}
.selectAll-false1{
    display: inline-block;
    min-width: 5rem;
    padding-left: 2.5rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/unchoose.png);
}
.group-btn{
    float: right;
    width: 10rem;
    text-align: center;
    background: #ffd600;
}
.group-item{
    border-top: 1px solid #e0e0e0;
    line-height: 4rem;
    display: flex;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.group-item-checkbox{
    flex: 0 0 5rem;
    background-image:url(../images/choose.png);
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: center center;
    width: 5rem;
}
.group-item-checkbox1{
    flex: 0 0 5rem;
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: center center;
    width: 5rem;
    background-image:url(../images/unchoose.png.png);
}
.group-item-img-wrap{
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
    align-self: center;
    background-size: 100% 100%;
}
.group-item-name,.group-item-price{
    padding-left: 1.4rem;
}
.product-operates{
    position: absolute;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 1.3rem;
    /*color: #f40;*/
}
.product-operates .del{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 2.6rem;
    height: 2.6rem;
    margin-top: -1.3rem;
    background: #ff4300 url(../images/product_operate.png) no-repeat left center;
    background-origin: border-box;
    background-size: 200% 100%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #ffbe89;
}
.product-operates .add{
    position: absolute;
    top: 50%;
    right: 10%;
    width: 2.6rem;
    height: 2.6rem;
    margin-top: -1.3rem;
    background: #ff4300 url(../images/product_operate.png) no-repeat right center;
    background-origin: border-box;
    background-size: 200% 100%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #ffbe89;
}
.hidden-div{
    line-height: 4rem;
    padding-top: 20%;
    text-align: center;
    color: #999;
    font-size: 1.4rem;
}
.hidden-div>div{
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    background: center center no-repeat;
    background-size: 100%;
    background-image: url(../images/carthidden.png);
    margin: auto;
}
.hidden-div>span{
    border-width: 1px;
    border-style: solid;
    border-radius: .3rem;
    padding: .4rem 3rem;
    border-color: #e0e0e0;
}
